body,
section {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cinza_suave);

}

.img {
  height: 80px;
  border-radius: 50px;
}

header {
  width: 100%;
  background: linear-gradient(to right, var(--azul_escuro) 30%, var(--azul_claro) 50%);
  z-index: 1;
  position: fixed;
  top: 0;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
}

.logo {
  margin-right: 20px;
  color: var(--white);
  font-weight: bolder;
  text-align: center;
}
main{
  margin-top: 100px;
  background-color: var(--white)
  
}
/*Tabela*/
.tabela {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--cinza_suave);
  padding: 10px;
  text-align: center;
}

th {
  background-color: var(--branco_gelo);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--branco_gelo);
}

.imagens {
  max-width: 50px;
  height: auto;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}